body{
	background-color: rgba(50,100,200,0.8) 
}

.categorias{
  column-count: 3;

}

.bodyperfil{
  position: relative;
  left: 800px
}

h1{
  text-align: center;
  color: rgba(20,50,70,1);
  background-color: rgb(20,220,190);
  border-style: outset;
}

h2{

}

a{
  font-size:15px;
  border-style: inset;
}

.aluno{
  font-size: 17px;
  border-style: double;
  border-radius: 5px;

}