body{
	background-color: rgb(180,180,180);
  font-family: "Gill Sans MT Condensed"; 
}

.categorias{

  column-width: 500%;
  outline-width: 200%;
}

.bodyperfil{
  position: relative;
  left: 800px
}

h1{
  text-align: center;
  color: rgba(20,50,70,1);
  background-color: rgb(100,150,190);
  border-style: outset;
  position: relative;
  top: 46px;
}

h2 {
  color: #333;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 40px auto;
}

h3 {
  color: #466995;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: -10px;
}

h4 {
  color: #466995;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

a{
  font-size:15px;
  text-decoration: none;
  clear: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(20,30,50,0.8);
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;

}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
    z-index: 10000;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


}



.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(20,30,50,1);
}

.navegador {
  background-color: rgba(0,0,0,0.6);
  border-bottom: 1px solid #466995;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  padding-bottom: -200px;
  text-align: center;
  max-height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  max-width: 99%;
}

li {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 25px;
}

.inicial {
  position: relative;
  top: 0px;
}

.homebtn{
  background-color: rgba(20,30,50,0.8);
  color: white;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;

}

.dhomebtn a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 16px;
}


.dropdown:hover {
    background-color: #3e8e41;}

.aluno {
  margin: 120px auto;
  text-align: center;
  position: relative;
  clear: both;
  
}

.answer {
  border: 1px solid #466995;
  display: inline-block;
  height: 100px;
  margin: 20px;
  padding-top: 40px;
  width: 220px;
  text-align: center;
 
}

.answer a{
  text-decoration: none;
  border-style: none;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -7px;
  color: #466995;
}

.fotos img {
  float: center;
  height: 200px;
  width: 200px;
  clear: both;
}

.fotos {
  clear: both;
  display: inline-block;
}

.rodape{

}

.navegador li{
  padding-left: 25px;
  padding-right: 25px;
}

.Nav {
  background-color: rgba(20,30,50,0.8);
  color: white;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.Cols{
  column-count: 3;
  max-height: 41em;
  text-align: center;
  width: 100%;
}

.info {
  height: 6.2em;
  border-style: double;
  font-size: 100px;
  text-align: center;
  clear: both;
  margin-top: 4px;
  position: relative;
  top: 8px;
}

.biblio {
  margin-top: -18.6px;
  border-style: solid;
  clear: both;
  height: 37.7em;
  padding: 10px;

}

.info li{
  padding-bottom: 1px;
  border-style: dotted;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}

.sera {
  
  clear: both;  
  word-break: break-all;
}


.portifolio {
  position: relative;
  text-align: center;
}

.projeto {
  border: 2px inset #9DD1F1;
  display: inline-block;
  height: 200px;
  margin-top: 4px;
  padding: 30px auto;
  text-align: center;
  width: 215px;
}

.projeto img{
  width: 215px;
  height: 200px;  
  padding-top: 40px;
  position: relative;
  top: -41px;
}

.projeto img:hover{
  background-color: rgb(0,0,0);
}

.container {
  position: relative;
  width: auto;
  height: auto;
  padding: 5px 5px 5px 5px;
}

.image {
  display: inline-block;
  width: 100%;
  height:200%;  
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay a{
  text-decoration: none;
  border-style: none;
}

.Col{
  column-count: 2;
  text-align: center;

}


.infop {
  font-size: 25px;
}

.Cols2{
  column-count: 2;
  max-height: 42em;
  text-align: center;
  width: 100%;
}